.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 200vh 100vh;
    background-color: #6200EE;

    .section {
        grid-row: 2;
        background-color: #FFF;

        .tunnel {
            animation-delay: inherit;
            background-image: url('../assets/railway_tunnel.jpg');
            background-position: center;
            background-size: 400px;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            position: sticky;
            top: 30vh;

            .animate {
                animation: colorAnimation 1.1s linear infinite;
                animation-play-state: paused;
                animation-delay: inherit;
                width: 100px;
            }
        }
    }
}

@keyframes colorAnimation {
    from {
        transform: scale(3) translateY(15px);
    }
    to {
        transform: scale(0.25) translateY(-25px);
    }
}